Flow1
[
    {
        "id": "c56fbce0.4094d",
        "type": "rpi-gpio out",
        "z": "561285db.108afc",
        "name": "Green LED",
        "pin": "11",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 781.25,
        "y": 168.75000190734863,
        "wires": []
    },
    {
        "id": "99d4d7c6.96cd78",
        "type": "debug",
        "z": "561285db.108afc",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 551.25,
        "y": 79.75000190734863,
        "wires": []
    },
    {
        "id": "b9b48f05.75fc1",
        "type": "rpi-gpio in",
        "z": "561285db.108afc",
        "name": "Button",
        "pin": "7",
        "intype": "up",
        "debounce": "25",
        "read": true,
        "x": 201.25,
        "y": 128.75000190734863,
        "wires": [
            [
                "99d4d7c6.96cd78",
                "6d2b3016.a2594"
            ]
        ]
    },
    {
        "id": "6d2b3016.a2594",
        "type": "switch",
        "z": "561285db.108afc",
        "name": "if input is 1",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 381.25,
        "y": 168.75000190734863,
        "wires": [
            [
                "8adb2bfa.fa9508"
            ],
            [
                "3ab51232.64ef6e"
            ]
        ]
    },
    {
        "id": "8adb2bfa.fa9508",
        "type": "change",
        "z": "561285db.108afc",
        "name": "Change to 0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 581.25,
        "y": 148.75000190734863,
        "wires": [
            [
                "c56fbce0.4094d"
            ]
        ]
    },
    {
        "id": "3ab51232.64ef6e",
        "type": "change",
        "z": "561285db.108afc",
        "name": "Change to 1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 581.25,
        "y": 188.75000190734863,
        "wires": [
            [
                "c56fbce0.4094d"
            ]
        ]
    }
]
